<!--  todos los personajes  -->
<div class="main">
  <div *ngFor="let c of characters" class="container">
    <h3>{{ c.name }}</h3>
    <img [src]="c.image" alt="{{ c.name }}" height="100" />
    <button class="card-button" (click)="moreInfo(c)">More Info</button>
  </div>
</div>

<!-- informacion del personaje -->
<div class="more-info-container" [hidden]="isHidden">
  <div class="content">
    <button class="close-button" (click)="close()">x</button>
    <h2>{{ character.name }}</h2>
    <img
      [src]="character.image"
      alt="{{ character.name }}"
      height="200"
      class="image"
    />
    <p>Status: {{ character.status }}</p>
    <p>Species: {{ character.species }}</p>
    <p>Gender: {{ character.gender }}</p>
    <p>loaction: {{ character.location.name }}</p>
  </div>
</div>
